# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# runtime
celerybeat-schedule
*.log
*.sqlite3
*.backup

# venv
venv/
.env
.idea/
.vscode/

# cache
*.egg-info/
dist/
build/

# node
node_modules/

# docker
Dockerfile
docker-compose.yml
