POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

POSTGRES_HOST_TEST=
POSTGRES_USER_TEST=
POSTGRES_PASSWORD_TEST=
POSTGRES_DB_TEST=
POSTGRES_PORT_TEST=

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_ROLE_NAME=

JWT_SECRET=
JWT_ALGORITHM=

ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

BACKUP_DIR = "/mnt/backups"

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

NEO4J_URI =
NEO4J_USER =
NEO4J_PASSWORD =
